# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.tfstate.lock.info

# Sensitive variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# AWS credentials
.aws/
